<div class="container mt-4">
    <div class="d-flex justify-content-start mb-3">
    <button class="btn btn-outline-secondary" routerLink="/articulos">
        Volver a Articulos
    </button>
</div>
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-body">
            <h3 class="mb-4">
                Crear un artículo nuevo
            </h3>
            <form>
                <!-- Titulo -->
                <div class="mb-3">
                    <label class="form-label">Título del artículo</label>
                    <input class="form-control"[(ngModel)]="articulo.titulo"
                        name="titulo">
                </div>
                <!-- Descripcion -->
                <div class="mb-3">
                    <label class="form-label">Descripción</label>
                    <textarea class="form-control" rows="4"
                        [(ngModel)]="articulo.descripcion" name="descripcion">
                    </textarea>
                </div>
                <!-- Categoria -->
                <div class="mb-3">
                     <label class="form-label">Categoría</label>
                    <select class="form-select" [(ngModel)]="articulo.categoria"
                        name="categoria">
                        <option value="">Seleccione una categoría</option>
                        <option value="Autos y Transporte">Autos y Transporte</option>
                        <option value="Ropa">Ropa</option>
                        <option value="Ropa Deportiva">Ropa Deportiva</option>
                        <option value="Figuras y Coleccionables">Figuras y Coleccionables</option>
                        <option value="Musica">Música</option>
                        <option value="Juguetes">Juguetes</option>
                        <option value="Herramientas">Herramientas</option>
                        <option value="Electronica">Electronica</option>
                        <option value="Muebles">Muebles</option>
                        <option value="Consolas y Videojuegos">Consolas y Videojuegos</option>
                    </select>
                </div>
                <!-- Precio -->
                <div class="mb-3">
                    <label class="form-label">Precio</label>
                    <input type="number" class="form-control"
                        [(ngModel)]="articulo.precio" name="precio">
                </div>
                <!-- Ubicacion -->
                <div class="mb-3">
                    <label class="form-label">Ubicación</label>
                    <select class="form-select" [(ngModel)]="articulo.ubicacion"
                        name="ubicacion">
                        <option value="">Seleccione su ubicación</option>
                        <option value="Culiacan, Sinaloa">Culiacan, Sinaloa</option>
                        <option value="Mazatlan, Sinaloa">Mazatlan, Sinaloa</option>
                        <option value="Guamuchil, Sinaloa">Guamuchil, Sinaloa</option>
                        <option value="Guasave, Sinaloa">Guasave, Sinaloa</option>
                        <option value="Los Mochis, Sinaloa">Los Mochis, Sinaloa</option>
                        <option value="Angostura, Sinaloa">Angostura, Sinaloa</option>
                        <option value="Pericos, Sinaloa">Pericos, Sinaloa</option>
                        </select>
                </div>
                <!-- Imagen -->
                <div class="mb-3">
                    <label class="form-label">Imagen del artículo</label>
                    <input type="file"class="form-control"
                        (change)="onFileSelected($event)">
                </div>
                <!-- Preview -->
                @if(imagenPreview){
                    <div class="mb-3">
                        <img
                        [src]="imagenPreview"
                        class="img-thumbnail"
                        style="height:250px">
                    </div>
                }
                <button
                    class="btn btn-success" type="button"
                    (click)="crearArticulo()">
                    Publicar artículo
                </button>
            </form>
        </div>
    </div>
</div>